bin
env
obj
src/toml/libtoml.a
src/toml/toml.o
.cproject
nbproject
__pycache__
tmp-*
test/work
test_target
_tmp_python_client
*.swp
test_dir
.vscode/
.idea/
null.d

# Compiled source #
###################
*.com
*.class
*.exe
*.o
*.so
*.suo
*.pyc
*.a

# Security Credentials #
########################
*.pem