[submodule "modules/c-client"]
	path = modules/c-client
	url = https://github.com/aerospike/aerospike-client-c.git
[submodule "modules/secret-agent-client"]
	path = modules/secret-agent-client
	url = https://github.com/aerospike/secrets-client-c.git
[submodule ".github/packaging/common"]
	path = .github/packaging/common
	url = https://github.com/aerospike/server-packaging-common.git
