---
name: "Draft Release"

on:
  push:
    tags:
      - "*"

jobs:
  draft-release-notes:
    runs-on: ubuntu-latest
    name: Draft Release
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        egress-policy: audit

    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
    - name: Upload Artifacts to Release Draft
      uses: step-security/action-gh-release@674f8f866246c6b91bd3f1688ba95e27b2ae8d2e # v2.4.1
      with:
        draft: true
        generate_release_notes: true
        